* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 20px;
}
.header p {
  font-family: "Crete Round", serif;
  text-align: center;
  color: #747474;
  font-size: large;
  font-weight: bold;
  margin-bottom: 15px;
}
.header p span {
  color: #e83b89;
}
.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.header a {
  text-decoration: none;
  color: #747474;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.6em;
}

.hero {
  background-image: url("/images/main.jpg");
  background-size: 290%;
  background-position: center;
  font-family: "Roboto", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 200px;
}
.hero h1 {
  font-size: 1.2em;
}
.hero h1 span {
  display: block;
  font-size: 1.6em;
}
.hero a {
  text-decoration: none;
  color: white;
  background-color: #e83b89;
  margin: 0 auto;
  width: 70px;
  height: 28px;
  padding: 4px;
  border-radius: 2px;
}

.quality {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  color: #747474;
  font-family: "Roboto", sans-serif;
}
.quality div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.quality div img {
  margin: 0 auto;
  width: 20%;
  height: auto;
}
.quality div h3 {
  text-transform: uppercase;
  font-size: 0.9em;
}
.quality div p {
  font-size: 0.5em;
}

.customer {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.customer div {
  display: flex;
  flex-direction: row;
  width: 85vw;
  margin: 0 auto;
}
.customer div div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  height: 150px;
  overflow: hidden;
  position: relative;
}
.customer div div h3 {
  text-transform: uppercase;
  color: #747474;
  font-size: 0.9em;
}
.customer div div p {
  font-style: italic;
  color: #747474;
  font-size: 0.5em;
}
.customer div div a {
  text-decoration: none;
  color: white;
  background-color: #e83b89;
  width: 120px;
  height: 25px;
  margin: 0 auto;
  padding: 3px;
  border-radius: 2px;
}
.customer div div img {
  width: 160%;
  position: absolute;
  right: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.contact {
  margin: 60px auto;
  width: 85%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #747474;
}
.contact h2 {
  text-transform: uppercase;
  display: inline-block;
  width: 260px;
  border-bottom: 1px #bdecf6 solid;
  padding-bottom: 14px;
}
.contact p {
  font-size: 0.5em;
  margin: 15px auto;
}
.contact div {
  margin-bottom: 8px;
}
.contact div label {
  font-size: 0.9em;
  font-weight: 600;
}
.contact div input {
  height: 25px;
  font-size: 0.6em;
  width: 150px;
  border-width: 1px;
}
.contact__btn {
  background-color: #e83b89;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  border: none;
  color: white;
  width: 27px;
  height: 27px;
  border-radius: 2px;
}

.footer {
  width: 90%;
  background-color: #444444;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 80px;
}
.footer__marque {
  font-family: "Crete Round", sans-serif;
  color: white;
  font-size: large;
  font-weight: bold;
}
.footer__marque span {
  color: #e83b89;
}
.footer__copyright {
  color: #747474;
  font-size: 0.6em;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
