@use '../abstracts/variables' as*;
@use '../abstracts/mixins' as*;
@use '../base/buttons' as*;

.contact {
    margin: 60px auto;
    width: 85%;
    font-family: $font-global;
    text-align: center;
    color: $color-global;

    &__formulaire {
        @media(min-width: 768px) {
            @include center_row;
            gap: 40px;
            margin-top: 40px;
        }
    }

    &__titre {
        text-transform: uppercase;
        display: inline-block;
        width: 260px;
        border-bottom: 1px #bdecf6 solid;
        padding-bottom: 14px;
    }

    &__description {
        @include descrip;
        margin: 15px auto;
        @media(min-width: 768px) {
            padding: 0 80px 0 80px;
        }
    }

    &__field {
        margin-bottom: 10px;

        label {
            font-size: 0.7em;
            font-weight: 600;
            margin-right: 4px;
        }

        input {
            height: 25px;
            font-size: 0.6em;
            width: 150px;
            border-width: 1px;
            border-radius: 1px;
            border: 1px solid #ccc;
            padding: 8px;
        }
    }

    &__btn {
        @include button;
        text-transform: uppercase;
        font-weight: 600;
        width: 27px;
        height: 27px;
    }
}