@use '../abstracts/variables' as*;
@use '../abstracts/mixins' as*;
@use '../base/buttons' as*;
@use '../base/base' as*;

.customer {
    margin-top: 40px;
    @include center-col;
   
    gap: 10px;
    
    @media(min-width: 768px) {
        @include center-row;
        margin: 30px auto;
        width: 80vw;

    }

    &--club {
        background-image: url('/images/article-image-1.jpg');
        @include img;
    }

    &--actu {
        background-image: url('/images/article-image-2.jpg');
        @include img;
    }

    &__card {
        display: flex;
        height: 175px;
        width: 80vw;
        margin: 0 auto;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    &__content {
        @include center_col;
        text-align: center;
        height: auto;
        width: 123px;
        background-color: $bgcolor-customercard-description;
        padding: 15px;
    }


    &__title {
       @include title; 
    }

    &__description {
        font-style: italic;
       @include descrip;
        padding: 5px;
        margin-top: 30px;
    }

    &__btn {
        @include button;
        width: 80px;
        height: 20px;
        margin: 0 auto;
    }
}
