@use '../abstracts/variables' as*;

.customer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: $font-customer;

    &__card {
        display: flex;
        flex-direction: row;
        height: 180px;
        width: 85vw;
        margin: 0 auto;




        &__content {
            display: flex;
            flex-direction: column;
            text-align: center;
            height: 150px;

            &__title {
                text-transform: uppercase;
                color: $color-font-customer;
                font-size: 0.9em;
            }

            &__description {
                font-style: italic;
                color: $color-font-customer;
                font-size: 0.5em;
            }

            &__btn {
                text-decoration: none;
                color: $color-link-customer;
                background-color: $bgcolor-btn-customer;
                width: 120px;
                height: 25px;
                margin: 0 auto;
                padding: 3px;
                border-radius: 2px;
            }

            img {
                width: 160%;
                position: absolute;
                right: 10px;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }

    &--club {
        background-image: url('/images/article-image-1.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &--actu {
        background-image: url('/images/article-image-2.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}