@use '../abstracts/variables';


.customer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    font-family: variables.$font-customer;

    div {
        display: flex;
        flex-direction: row;
        width: 85vw;
        margin: 0 auto;

        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            height: 150px;
            overflow: hidden;
            position: relative;

            h3 {
                text-transform: uppercase;
                color: variables.$color-font-customer;
                font-size: 0.9em;
            }

            p {
                font-style: italic;
                color: variables.$color-font-customer;
                font-size: 0.5em;
            }

            a {
                text-decoration: none;
                color: variables.$color-link-customer;
                background-color: variables.$bgcolor-btn-customer;
                width: 120px;
                height: 25px;
                margin: 0 auto;
                padding: 3px;
                border-radius: 2px;
            }

            img {
                width: 160%;
                position: absolute;
                right: 10px;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }
}