@use '../abstracts/variables' as*;

.hero {
    background-image: url("/images/main.jpg");
    background-size: 290%;
    background-position: center;
    font-family: $font-hero;
    color: $color-hero;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;
    @media(min-width: 768px) {
        height: 300px;
        background-size: 130%;
    }

    &__title {
        font-size: 1.5em;
        padding-top: 15px;
        @media(min-width: 768px) {
        font-size: 1.8em;
        padding-top: 20px;
        }
    }

    &__span {
        display: block;
        height: 50px;
        font-size: 1.2em;
        @media(min-width: 768px) {
        font-size: 1.4em;
        }
    }

    &__btn {
        color: $color-hero;
        background-color: $bgcolor-btn-hero;
        margin: 0 auto;
        width: 70px;
        height: 28px;
        padding: 4px;
        border-radius: 2px;
        border: none;

        @media(min-width: 768px) {
            margin-bottom: 40px;
        }
    }
}