@use '../abstracts/variables';



.hero {
    background-image: url("/images/main.jpg");
    background-size: 290%;
    background-position: center;
    font-family: variables.$font-hero;
    color: variables.$color-hero;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 200px;

    h1 {
        font-size: 1.2em;

        span {
            display: block;
            font-size: 1.6em;
        }
    }

    a {
        text-decoration: none;
        color: variables.$color-hero;
        background-color: variables.$bgcolor-btn-hero;
        margin: 0 auto;
        width: 70px;
        height: 28px;
        padding: 4px;
        border-radius: 2px;
    }
}