@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.hero {
    @include center_col;
    background-image: url("/images/main.jpg");
    background-size: 290%;
    background-position: center;
    font-family: $font-global;
    color: $color-btn-titre;
    text-align: center;
    gap: 10px;
    height: 200px;
    @media(min-width: 768px) {
        height: 300px;
        background-size: 130%;
    }

    &__title {
        font-size: 1.5em;
        padding-top: 15px;
        @media(min-width: 768px) {
            font-size: 1.8em;
            padding-top: 20px;
        }
    }

    &__span {
        display: block;
        height: 50px;
        font-size: 1.2em;
        @media(min-width: 768px) {
            font-size: 1.4em;
        }
    }

    &__btn {
        @include button;
        margin: 0 auto;
        width: 70px;
        height: 28px;
        padding: 4px;
        @media(min-width: 768px) {
            margin-bottom: 40px;
        }
    }
}