@use '../abstracts/variables' as*;

.quality {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    color: $color-font-quality;
    font-family: $font-quality;

    @media(min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__image {
        margin: 0 auto;
        width: 20%;
        height: auto;
    }

    &__title {
        text-transform: uppercase;
        font-size: 0.9em;
    }

    &__description {
        font-size: 0.5em;

        @media(min-width: 768px) {
            padding: 0 38px 0 38px;

        }
    }
}