@use '../abstracts/variables' as*;
@use '../abstracts/mixins' as*;
@use '../base/base' as*;

.quality {
    text-align: center;
   @include center_col;
    gap: 25px;
    padding: 25px;
   
 

    @media(min-width: 768px) {
        @include center_row;
        margin-top: 10px;
    }

    &__item {
        @include center_col;
        gap: 20px;
    }

    &__image {
        margin: 0 auto;
        width: 20%;
        height: auto;
    }

    &__title {
       @include title;
    }

    &__description {
        @include descrip;
        @media(min-width: 768px) {
            padding: 0 38px 0 38px;

        }
    }
}