@use '../abstracts/variables';
@use '../abstracts/mixins';

.footer {
    @include mixins.center;
    width: 90%;
    background-color: variables.$bgcolor-footer;
    margin: 0 auto;
    gap: 12px;
    height: 80px;
    
    
    &__marque {
        font-family: variables.$font-marque-footer;
        color: variables.$color-marque-footer;
        font-size: large;
        font-weight: bold;
    }

     &__span {
            color: variables.$span-footer;
        }

    &__copyright {
        color: variables.$color-copyright-footer; 
        font-size: 0.6em;
        font-weight: bold;
    }    
    
}