@use '../abstracts/variables' as*;
@use '../abstracts/mixins' as*;

.footer {
    @include center_col;
    width: 90%;
    background-color: $bgcolor-footer;
    margin: 0 auto;
    gap: 12px;
    height: 90px;

    &__marque {
        font-family: $font-marque;
        color: $color-marque-footer;
        font-size: large;
        font-weight: bold;
    }

    &__span {
        color: $span-marque;
    }

    &__copyright {
        font-weight: bold;
    }

}