// $font-titre: 'Crete Round', sans-serif;
// $color-font: #747474;
// $span-titre: #e83b89;
// $font-link: 'Roboto', sans-serif;

@use '../abstracts/variables';


.header {
    margin: 20px;

    p {
        font-family: variables.$font-titre;
        text-align: center;
        color: variables.$color-font;
        font-size: large;
        font-weight: bold;
        margin-bottom: 15px;

        span {
            color: variables.$span-titre;
        }
    }



    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: variables.$color-font;
        font-family: variables.$font-link;
        font-weight: 700;
        font-size: 0.6em;
    }
}