$color-btn-titre: white;
$bgcolor-btn: #e83b89;
$font-global: 'Roboto', sans-serif;
$font-marque: 'Crete Round', sans-serif;
$color-global: #747474;
$span-marque: #e83b89;

// =================================
// HEADER 
// =================================
$color-font: #747474;





// ==========================================
// CUSTOMER
// ==========================================



$bgcolor-customercard-description: white;

// =========================================
// CONTACT 
// =========================================
$color-font-contact: #747474;



// =========================================
// FOOTER 
// =========================================
$bgcolor-footer: #444444;
$color-marque-footer: white;

