// =================================
// HEADER 
// =================================
$font-titre: 'Crete Round', sans-serif;
$color-font: #747474;
$span-titre: #e83b89;
$font-link: 'Roboto', sans-serif;

// ====================================
// HERO
// ====================================
$font-hero: 'Roboto', sans-serif;
$color-hero: white;
$bgcolor-btn-hero: #e83b89;

// =======================================
// QUALITY 
// =======================================
$color-font-quality: #747474;
$font-quality: 'Roboto', sans-serif;    

// ==========================================
// CUSTOMER
// ==========================================
$font-customer: 'Roboto', sans-serif;
$color-font-customer: #747474;
$color-link-customer: white;
$bgcolor-btn-customer: #e83b89; 
$bgcolor-customercard-description: white;

// =========================================
// CONTACT 
// =========================================
$font-contact: 'Roboto', sans-serif;
$color-font-contact: #747474;
$bgcolor-btn-contact: #e83b89;
$color-link-contact: white;

// =========================================
// FOOTER 
// =========================================
$bgcolor-footer: #444444;
$font-marque-footer: 'Crete Round', sans-serif;
$color-marque-footer: white;
$span-footer: #e83b89;
$color-copyright-footer: #747474;